<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-8 offset-md-4'>
        <h1>マイページ</h1>
        <%= render 'info', user: @user %>
        <div class='row btn  btn-block mt-4'>
          <% if current_user != @user %>
              <% if @user.followed_by?(current_user) %>
                  <p><%=link_to "フォロー済み", user_relationships_path(@user.id), method: :delete %></p>
              <% else %>
                  <p><%=link_to "フォローする", user_relationships_path(@user.id), method: :post %></p>
              <% end %>
          <% end %>
        <!--新規投稿部分のrender-->
       <%#= render 'books/form', book: @book %>
        </div>
        <h4>投稿した一覧</h4>
        <div>
        <!--自身の投稿一覧のrender-->
          <%= render 'books/index',books: @books %>
        </div>
    </div>
  </div>
</div>