<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-4'>
      <!--新規投稿のrender-->
      <%= render 'form2', book: @book %>
      <!--タグ機能のrender-->
      <div class="text-center"><%= render 'tag', tag_list: @tag_list %></div>
    </div>
    <div class='col-md-8 '>
      <!--投稿一覧表示のrender-->
      <%= render 'index3', books: @books %>
    </div>
  </div>
</div>