<div class="main">   
  <div class='container shadow-lg text-center mt-3 my-5'>
    <div class='row my-5'>
      <div class="col-md-12">
        <h2 class="my-5">はじめに</h2>
        <h5 class="my-2">
          情報共有サイト
          <br>
          「MC_Board」へようこそ
        </h5>
        <p>
          膝や肩が痛い時など、いつ病院に行ったら良いかわからなくなる時がありませんか？
          <br>
          その時に他の方々がどのように考えているのかを、見れる場所があればと思い作成しました。
        </p>
        
        <p>
          ぜひコメントをしてみてください。
        </p>
        
        <h2 class="my-5">機能紹介</h2>
        <h5 class="my-2">ログイン機能</h5>
        <p>
          「名前」と「パスワード」からログインが行えます。
        </p>
        <h5 class="my-2">管理者機能</h5>
        <p>
          管理者権限を持たせているユーザーからも投稿を削除できます。
        </p>
        <h5 class="my-2">投稿機能</h5>
        <p>
          「タイトル」「タグ」「本文」を入力して投稿できます。
          <br>
          投稿に対して「いいね」「コメント」をつけることができます。
        </p>
        <h5 class="my-2">タグ</h5>
        <p>
          同じタグから同様の記事を参照することができます。
        </p>
        <h5 class="my-2">検索機能</h5>
        <p>
          検索画面からキーワードを入力すると
          <br>
          タイトルから該当する投稿を表示します。
        </p>
      </div>
    </div>
    <div class="row my-6">
         <p class="post-meta">
                            Created by
                            <a href="#!">Page Topへ</a>
                            on June 28, 2021
                        </p>
    </div>
  </div>
</div>